.p-signup__form--active {
  opacity: 1;
  width: 100%;
}

.p-signup__form--inactive {
  opacity: 0.4;
  width: 100%;
}

.p-signup__spinner {
  position: fixed;
  z-index: 999;
  margin-top: 9%;
}

.p-signup__close {
  float: right;
  margin: -30px -30px;
}
