.mdl-layout__header-row {
  background-color: $dark-black;
}

.mdl-navigation__link {
  &:hover {
    border-bottom: 4px solid $white;
    background-color: $gray;
  }
}


@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }
}
