.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.pt20 {
  padding-top: 20px;
}

.bold {
  font-weight: 700;
}

.tac {
  text-align: center;
}

.vam {
  vertical-align: middle;
}

.error {
  color: $red;
}

.header-error {
  font-weight: bold;
  color: $red400;
}

.ok {
  color: $green;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

a.text-like {
  text-decoration: none;

  &:link {
    text-decoration: inherit;
  }

  &:visited {
    color: $white;
    text-decoration: inherit;
  }
}
