%div{style: 'display:flex; justify-content:center'}
  %script{charset: 'utf-8', type: 'text/javascript', src: '//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fmuryoimpl-22%2F8009%2F0bcaecc3-8554-47e8-9f3b-2c6f08c13f08&Operation=GetScriptTemplate'}
  %noscript
    %a{rel: 'nofollow', href: '//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fmuryoimpl-22%2F8009%2F0bcaecc3-8554-47e8-9f3b-2c6f08c13f08&Operation=NoScript'}
      Amazon.co.jp ウィジェット
